#pomodoro {
  display: flex;
  align-items: center;
  gap: 15px;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#timer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.digit {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.digitBtn {
  font-size: 2rem;
}
